<div class="row " >
  <div class="col-md-6">
    <mat-card >
  <mat-card-title>订单列表</mat-card-title>
  <mat-card-subtitle>所有已完成</mat-card-subtitle>
  <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>29</mat-card-title>
        <mat-card-subtitle>notifications</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

</div>
