<div class="layui-row" style="margin-bottom: 10%;">
  <div class="layui-col-xs4 layui-col-xs-offset4">
    <div class="layui-circle avatar">
      <img src="/assets/user.png">
    </div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-xs10 layui-col-xs-offset1 login-panel" >
      <div class="layui-row">
        <div class="layui-col-xs8 layui-col-xs-offset4">
            <input  placeholder="请填写您的称谓"  >
            <input  placeholder="请填写您的密码" >

        </div>
      </div>
  </div>
  </div>
