<div class="layui-row" style="height: 100%">
  <div class="layui-col-xs6">
    <div class="act-panel" *ngFor="let i of ts"  routerLink="/act-detail">
      <img src="/assets/act1.jpg" class="headerimg">
      <div class="layui-row">
        <div class="layui-col-xs8">
        <div style="margin: 10px 7px;">
          <p style="font-size:1em;"> 这里是标题</p>
            <p style="font-size:0.1em;">时间：2018-1-29
              <br>限制人数：50</p>
          </div>
        </div>
        <div class="layui-col-xs4">
          <div style="margin-top:68%;">
            <img src="/assets/hall/boy-icon.png" class="boy">22
          <img src="/assets/hall/girl-icon.png" class="girl">22
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="layui-col-xs6">
          <div class="act-panel-spec">
            <img src="/assets/act1.jpg" class="headerimg-spec">
            <div class="layui-row">
              <div class="layui-col-xs8">
              <div style="margin: 10px 7px;">
                <p style="font-size:1em;"> 这里是标题</p>
                  <p style="font-size:0.1em;">时间：2018-1-29
                    <br>限制人数：50</p>
                </div>
              </div>
              <div class="layui-col-xs4">
                <div style="margin-top:68%;">
                  <img src="/assets/hall/boy-icon.png" class="boy">22
                <img src="/assets/hall/girl-icon.png" class="girl">22
                </div>

              </div>
            </div>

          </div>
          <div class="act-panel" *ngFor="let i of ts">
              <img src="/assets/act1.jpg" class="headerimg">
              <div class="layui-row">
                <div class="layui-col-xs8">
                <div style="margin: 10px 7px;">
                  <p style="font-size:1em;"> 这里是标题</p>
                    <p style="font-size:0.1em;">时间：2018-1-29
                      <br>限制人数：50</p>
                  </div>
                </div>
                <div class="layui-col-xs4">
                  <div style="margin-top:68%;">
                    <img src="/assets/hall/boy-icon.png" class="boy">22
                  <img src="/assets/hall/girl-icon.png" class="girl">22
                  </div>

                </div>
              </div>

            </div>
    </div>
</div>
<div style="height: 100px;"></div>
