.nav1 {
  width: 50px;
  height: 50px;


  background: url('/assets/nav1.png') no-repeat center;
  background-size: 70% 70%;
}
.nav2 {
  width: 50px;
  height: 50px;


  background: url('/assets/nav2.png') no-repeat center;
  background-size: 70% 70%;
}
.nav3 {
  width: 50px;
  height: 50px;

  background: url('/assets/nav3.png') no-repeat center;
  background-size: 65% 65%;
}
.nav4 {
  width: 50px;
  height: 50px;

  background: url('/assets/nav4.png') no-repeat center;
  background-size: 75% 60%;
}
.selected{

}
