<div class="swiper-container" >
    <div class="swiper-wrapper">

      <div class="swiper-slide"  [routerLink]="['/activity-detail',result.id]" *ngFor="let result of results">

        <div style="height: 7%">  </div>
        <div class="layui-row " style="height: 85%">
          <div class="layui-col-xs10 layui-col-xs-offset1 panel">
            <div style="margin-bottom:2%;">
              <font style="font-size: 1.2em">{{result.title}}</font>
              <font style="position: absolute;right: 5%;"> {{result.start_time}}</font>
            </div>
            <div class="divider"></div>
            <div style="margin: 8px 0px;">
              <font>人数：{{result.gentlemen}}&{{result.girls}}
                <br>活动时间：8小时</font>
            </div>

            <img src="{{result.titleimage}}" style="width: 100%;height:68%">
            <img src="assets/left-btn.png" style="margin: 3% 0;width:10%">
            <img src="assets/right-btn.png" style="width:6%;margin-left:80%;">

          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

  </div>
