
<div style="background: #f3f2f3;" >
  <div class="swiper-container" style="height: 300px;" >
    <div class="swiper-wrapper" >
      <div class="swiper-slide" *ngFor="let banner of activityDetail.bannerimages" >
        <img src="{{banner}}">
      </div>

    </div>
      <div class="bottom-dec">
        <img src="/assets/dec.png">
      </div>
    <div class="swiper-pagination"></div>
  </div>
  <div style="padding: 3%;">
    <font>活动时间：{{activityDetail.start_time}}</font><br>
    <font style="margin-top: 10px;display: block;">参与人数：{{num}}</font>
  </div>
  <div class="intro-words">
    <img src="/assets/icon1.png" style=" width: 26%; position: absolute; right: 0px;">
    <h3>活动介绍</h3>
    <p style="line-height: 2em;margin-top: 6%;">{{activityDetail.intro}}</p>

  </div>
  <div class="showphoto">
    <img src="/assets/bg-show.png">
  </div>
  <div style="text-align: center; margin: 5%;border-bottom: 5px dotted darkgray;">
   <h3>戳下面看视频</h3>
   <div class="video"></div>
  </div>
  <div >
    <div style="text-align:center;"><h3>精选留言</h3> </div>
    <div class="layui-row comment" *ngFor="let comment of comments">
      <div class="layui-col-xs2"><img class="avatar" src="/assets/nav3.png"></div>

      <div class="layui-col-xs9">
        <div style="    background: wheat;">2018-02-04&emsp;00:04&emsp;<font color="blue">安东尼</font></div>
        <div style="border-left: 2px solid;padding-left: 10px;">
          <p  style=" font-weight: bold;font-size: 1.1em">期待此次活动 <br>十分期待此次活动</p>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 100px;">

  </div>
</div>

