<div style="width: 100%;height:100%;background:#f3f2f3;">
  <mat-tab-group>
    <mat-tab label="后宫">
        <div class="fill"></div>
        <div>
            <div style="background:#c3bfbf;height:20px;"></div>
            <mat-list>
              <img matListAvatar src="/assets/act1.jpg" alt="sdf">
        <h3 matLine> 安东尼 </h3>
        <p matLine>
        <span> subject </span>
        <span class="demo-2">content </span>
    </p>
            </mat-list>
          </div>
          <div style="height: 100px"></div>
    </mat-tab>
    <mat-tab label="冷宫">
        <div class="fill"></div>
        <div >
            <div style="background:#c3bfbf;height:20px;"></div>

          </div>
          <div style="height: 100px"></div>
    </mat-tab>

  </mat-tab-group>
  </div>
