:host ::ng-deep .mat-tab-list{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
}
.fill{
  height: 50px;
}
:host ::ng-deep .mat-tab-label-container{
  z-index: 1000;
}
:host /deep/ .mat-tab-label{
  width: 50%;
  color: red;
  font-size: 1.3em;
}
.avatar{
  width: 50px;
  height: 50px;
 border-radius: 50%;

}
.custom-card{
  display:grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  grid-column-gap: 10px;
}
