/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "../node_modules/@clr/ui/clr-ui.min.css";
@import  "../node_modules/@clr/icons/clr-icons.min.css";
@import "../node_modules/layui-src/dist/css/layui.css";

html,body{
  height: 100%;
}
body{
  /* background: linear-gradient(to bottom right ,red, blue); */
  background:linear-gradient(to right bottom,lightcyan,pink,lightcoral) no-repeat;
  background-size: 100%;

}
