/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/layui-src/dist/css/layui.css";
@import "./assets/swiper-4.1.6.min.css";
html,body{
  height: 100%;
}
body{
  background:linear-gradient(to right bottom,#fbcdc7,#e9b4c7,#fca69d) no-repeat;
  background-size: 200%;

}
