/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "../node_modules/layui-src/dist/css/layui.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css";
html,body{
  height: 100%;
}
body{
  background:linear-gradient(to right bottom,#fbcdc7,#e9b4c7,#fca69d) no-repeat;
  background-size: 100%;

}
