<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-xs10 layui-col-xs-offset1">
      <div style="height:40px;"></div>
      <div class="layui-row">
        <div class="layui-col-xs3 layui-col-xs-offset1">
          <div [@selected]='state[0]' (click)="toggleState(0)" class="layui-circle stepper-circle" >
            <img  class="stepper-img1" src="assets/first.png"> </div>
          <div style="height:20px"></div>
          <font color="white">填写信息</font>
        </div>
        <div class="layui-col-xs3 layui-col-xs-offset1">
          <div [@selected]='state[1]' (click)="toggleState(1)" class="layui-circle stepper-circle" >
            <img class="stepper-img2" src="assets/second.png"> </div>
          <div style="height:20px"></div>
          <font color="white">实名认证</font>
        </div>
        <div class="layui-col-xs3 layui-col-xs-offset1">
          <div [@selected]='state[2]' (click)="toggleState(2)" class="layui-circle stepper-circle">
            <img class="stepper-img3" src="assets/third.png"> </div>
          <div style="height:20px"></div>
          <font color="white">完成注册</font>
        </div>
      </div>
    </div>
  </div>
  <div style="height:40px;"></div>
  <div class="layui-row">
    <div [@choosed]='page[0]' class="layui-col-xs10 layui-col-xs-offset1 selected-page1" >
        <div class="layui-row">
          <div class="layui-col-xs8 layui-col-xs-offset4">
              <input  placeholder="请填写您的称谓" [(ngModel)]="user.nickname" >
              <input  placeholder="请填写您的密码" [(ngModel)]="user.pwd">
              <input  placeholder="请填写您的邮箱" [(ngModel)]="user.mail">
              <input  placeholder="请填写您的手机号" [(ngModel)]="user.phone">
              <input  placeholder="请填写您的验证码" style="margin-top: 27px;">
              <div class="verify-input">&nbsp;&nbsp;获取验证码</div>
          </div>
        </div>
    </div>
    <div [@choosed]='page[1]' class="layui-col-xs10 layui-col-xs-offset1 selected-page2" >
        <div class="layui-col-xs8 layui-col-xs-offset4">
        <input  placeholder="请填写您的真实姓名" [(ngModel)]="user.realname" >
          <select  [(ngModel)]="user.sex" >
        <option value="">请选择您的性别</option>
        <option value="male">男</option>
        <option value="female">女</option>
        </select>
        <select  [(ngModel)]="user.cert_type" >
            <option value="">请选择您的证件类型</option>
            <option value="idcard">身份证</option>
            <option value="drivecard">驾驶证</option>
            <option value="studentcard">学生证</option>
          </select>
      <input  placeholder="请填写您的证件号码" [(ngModel)]="user.cert_num">
      </div>
    </div>
    <div [@choosed]='page[2]' class="layui-col-xs8 layui-col-xs-offset2 selected-page3" >
      <div style="height: 300px"></div>
        <div class="layui-row">
          <div class="layui-col-xs10 layui-col-xs-offset1">
            <button class="login-btn"><font color="white" font-size="1.3em">登&nbsp;陆</font> </button>
          </div>
        </div>
    </div>
  </div>
  <div style="height:50px;"></div>
  <div class="layui-row">
    <div class="layui-col-xs3 layui-col-xs-offset1">
      <button (click)="prev()" [@hover]='hover_prev' class="prev-btn"  *ngIf="indicator===1"></button>
    </div>
    <div class="layui-col-xs3 layui-col-xs-offset4">
      <button (click)='next()'  [@hover]='hover' class="next-btn"  *ngIf="indicator!=2"></button>
    </div>
  </div>
</div>

