<div style="width: 100%;height:100%;background:#f3f2f3;line-height:2em;">
<div style="padding: 5%;">
  <i class="layui-icon" style="font-size: 1.4em;" routerLink='/info-verify'>&#xe603;</i> <font style="font-size:1.6em;">&emsp;确认信息</font>
</div>
<mat-card>
  <mat-card-title>&emsp;购买人信息</mat-card-title>
  <mat-card-content>
    <p style="   background: #efe8e8;  padding: 10px;">
       姓名：张三<br>
    联系电话：15896547896
    </p>

  </mat-card-content>
</mat-card>
<div style="height: 5%;background:#d2caca;"></div>
<mat-card>

    <mat-card-title>&emsp;全城来电</mat-card-title>

  <mat-card-content>
      <div class="order-panel">
        <img src="/assets/act1.jpg" style="    width: 37%; height: 45%;">
        <div style=" width: 55%;float: right;">这是标题和活动介绍这是标题和活动介绍这是标题和活动介绍这是标题和活动介绍</div>
        <div style="    margin-top: 10%;color: gray;">
          开始时间：12-03<br>
          活动地址：风筝广场
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="    width: 45%;    margin-left: 50%;">
      合计：￥99.00&emsp;<button class="layui-btn layui-btn-normal layui-btn-radius">支付</button>
    </div>

  </mat-card-actions>
</mat-card>
</div>
